/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* End of Reset CSS */

body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  padding: 20px;
}

header {
  padding: 20px;
  border-bottom: 1px solid #ddd;
}

main {
  padding: 20px;
}

footer {
  padding: 20px;
  border-top: 1px solid #ddd;
}
h1 {
  font-size: 30px;
  font-weight: 600;
}
h2 {
  font-size: 15px;
  font-weight: 600;
}
section {
  padding: 12px;
}

article {
  padding: 12px;
}

li {
  padding: 2px;
}
#job-title {
  font-size: 15px;
  font-weight: 600;
  color: #16922d;
}

#skills-heading {
  font-size: 15px;
  font-weight: 600;
  color: #16922d;
}

#education-heading {
  font-size: 15px;
  font-weight: 600;
  color: #16922d;
}

#experience-heading {
  font-size: 15px;
  font-weight: 600;
  color: #16922d;
}

#social-heading {
  font-size: 15px;
  font-weight: 600;
  color: #16922d;
}
